<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/index/productos') %>
    
    <%- include('../partials/footer') %>
</body>
</html>

