<header class="header">
    
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <a class="link-logo" href="/"><img class="logo" src="/images/logos/logo.png" alt="All Meet"></a>
    <a class="link-logo2" href="/"><img class="logo2" src="/images/logos/logo2.png" alt="All Meet"></a>
    
    <nav class="nav">
        <ul class="menu1">
            <li class="lista-nav"><a class="btn-nav" href="/ayuda">Ayuda</a></li>
            <% if (locals.userLogged && locals.userLogged.admin == 1) { %>
                <li class="lista-nav"><a class="btn-nav" href="/charge">Nuevo Producto</a></li>
                <li class="lista-nav"><a class="btn-nav" href="/dash">Dash</a></li>
            <% } %> 
        </ul>
    </nav>

    <div class="user">  
        <div class="iconos">
            <% if (locals.isLogged) { %>
                    <a href="/users/<%= locals.userLogged.id_usuario %>/profile"><img class="profile" src="/images/usuarios/<%= locals.userLogged.imagen %>" alt="profile-image"></a>
                    <a href="/products/cart"><i class="fas carrito fa-shopping-cart"></i> </a>
                <% } else { %>
                    <a href="/users/login"><i class="fas persona fa-user"></i></a>
                    <a href="/products/cart"><i class="fas carrito fa-shopping-cart"></i> </a>
            <% } %>
        </div>
    </div>

    <form class="barra" action="/products/productList" method="POST">
        <input class="busqueda" type="search" name="busqueda" placeholder="Buscá acá tu producto"><i class="fas lupa fa-search"></i></input>
    </form>

</header>