<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <!-- header -->
    <%- include('../partials/header') %>
    <main>

      <div class="contenedor_res_ayuda">

        <h4 class="mensaje_res_ayuda">Muchas Gracias por tu mensaje, a la brevedad nuestro equipo se estara contactando contigo!</h2>

        <a href="/">
          <button class="editar_res_ayuda" href="" type="submit" value="Editar">
            Ir al Inicio
          </button>
        </a>

      </div>

      <%- include('../partials/footer') %>
    </main>
  </body>
</html>
