<div class="separador">
    <p class="titulo">Te recomendamos</p>
    <a href="/products/list"><p class="mira"> Mirá todo</p></a>
</div>
<div class="cajaRecomendaciones">
    <% for (i in productos) { %>
        <a href="/products/detail/<%= productos[i].id_producto %>" class="cajaProducto">
            <div class="fotoDetalle">
                <img class="prod" src="/images/productos/<%= productos[i].imagen %>" alt="">
            </div>
            <div class="descDetalle">
                <p class="nombre"><%= productos[i].nombre %></p>
                <p class="precio">$ <%= productos[i].precio %></p>
            </div>
        </a>
    <% } %>
</div>
